<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/products" method="post">
        <input type="text" placeholder="PRODUCT NAME" name="productName"><br>
        <input type="number" placeholder="PRICE OF PRODUCT" name="productPrice"><br>
        <input type="number" placeholder="RATING" name="productRating"><br>
        <input type="text" placeholder="REVIEW" name="productReview"><br>
        <button>Submit</button>

    </form>
</body>
</html>